---
import SectionTitle from "../components/sections/SectionTitle.astro";
---

<div id="contact" class="main-inner-content">
	<SectionTitle title="Contact"></SectionTitle>
	<p>
		Want to get in touch?
	</p>

	<span>
		The most sure fire way to get ahold of me is by shooting me a quick email: 
		<a href="mailto:zoe@zoeb.codes"> zoe@zoeb.codes </a>
	</span>
</div>

<style>
	#contact {
		padding: 3rem;
		padding-bottom: 15rem;
	}
</style>