<div class="landing-section" id="landing">
	Landing
</div>

<style>
	.landing-section {
		min-height: 100%;
		background-image: url(../assets/images/backgrounds/web.png);
		background-size: cover;
		width: 100%;
		background-attachment: fixed;
	}
</style>