<div class="landing-section main-inner-content" id="landing">
	<div class="tagline-container">
		<p class="tagline line-1">
			Behind the Code
		</p>
		<p class="tagline line-2">
			My Approach
		</p>
	</div>
	</div>
	

<style>
	@media screen and (min-width: 1024px) {
		.tagline {
			font-size: 4vw;
			font-weight: 400;
			text-shadow: .1vw .5vw .5vw black;
		}

		.tagline:hover {
			font-size: 5vw;
		}
	}

	@media screen and (max-width: 1023px) {
		.tagline {
			font-size: 4vh;
			font-weight: 400;
			text-shadow: .1vw .5vw .5vw black;
		}

		.tagline:hover {
			font-size: 5vh;
		}
	}

	.landing-section {
		min-height: 100%;
		background-image: url(/public/assets/images/backgrounds/WebGradient.webp);
		background-size: cover;
		width: 100%;
		background-attachment: fixed;
		align-content: center;
	}

	.tagline-container {
		padding: 0% 10% 5% 10%;
		user-select: none;
	}

	.line-1 {
		color: #FFBB00;
		text-align: start;
	}

	.line-2 {
		color: #F5FFDA;
		text-align: end;
	}
</style>