<div class="landing-section main-inner-content" id="landing">
	<div class="tagline-container">
		<p class="tagline line-1">
			Behind the Code
		</p>
		<p class="tagline line-2">
			My Approach
		</p>
	</div>
	</div>
	

<style>
	.landing-section {
		min-height: 100%;
		background-image: url(../assets/images/backgrounds/web.png);
		background-size: cover;
		width: 100%;
		background-attachment: fixed;
		align-content: center;
	}

	.tagline-container {
		padding: 0% 10% 5% 10%;
	}

	.tagline {
		font-size: 3rem;
		font-weight: 400;
		text-shadow: 1px 5px 5px black;
	}

	.tagline:hover {
		font-size: 5rem;
	}

	.line-1 {
		color: #FFBB00;
		text-align: start;
	}

	.line-2 {
		color: #F5FFDA;
		text-align: end;
	}
</style>