---
import Card from "../components/card/Card.astro";
import SectionTitle from "../components/sections/SectionTitle.astro";


---

<div id="philosophy" class="philosophy-section main-inner-content">
	<SectionTitle title="Philosophy"></SectionTitle>
		<h2>
			Why I am so F***ing Good at Magic✨✨
		</h2>
	
		<p>
			Well... if no one else is going to address the elephant in the room...
		</p>

		<p>
			<b>
				Why the HECK are there spiders everywhere!?!
			</b>
		</p>

		<p>
			Glad you (I) asked.
		</p>

		<p>
			Believe it or not, these fun lil critters have A LOT to do with engineering. 
		</p>

		<p>Don't believe me? Too bad, we are proceeding with this metaphor. I put too much work into this to stop now...<p>
			<div style="display: flex; flex-direction: row; gap: 1vw">
				<Card
					title="🕸️ Spinning the Web"
					id="craftsmanship"
					description="Designing systems where every thread connects with purpose."
				/>
				<Card
					title="🐛 Debugging"
					id="debugging"
					description="Detecting subtle vibrations in the code and tracing them to their source."
				/>
				<Card
					title="🪡 Expanding the Web"
					id="extendibility"
					description="Carefully adding new threads — new features — without tangling the structure."
				/>
			</div>

		<p>
			So, you (I) asked why I'm so good at what I do?
		</p>

		<p>
			I think like a spider.
		</p>

		<p>
			Yep. That's it.
		</p>

		<p>Some call me a <b>Web Developer</b>... 🥁 Bada tss! 🥁</p>

		<p>...</p>

		<p>... Alright... </p>

		<p>You caught me... </p>

		<p>This analogy was all an elaborate scheme for this one pun... But can you blame me?</p>

		<p>But in all seriousness, I think good development really is like a web — intentional, interconnected, and always evolving</p>
</div>

<style>
	.philosophy-section {
		min-height: 100%;
		background-image: url(/public/assets/images/backgrounds/spider.webp);
		background-size: cover;
		width: 100%;
		background-attachment: fixed;
		align-content: center;
		text-shadow: .2vw .2vw .5vw rgba(0,0,0,.5);
	}
</style>