---
import SectionTitle from "../components/sections/SectionTitle.astro";


---

<div id="philosophy" class="philosophy-section main-inner-content">
	<SectionTitle title="Philosophy"></SectionTitle>
		<h1>
			Why I am so F***ing Good at Magic✨✨
		</h1>
	
		<p>In order to get a better idea of how I work, I'd like to share my outlook on development first. </p>

		<p>Well, let's look at spiders.</p>

		<p>That's right.</p>

		<p>Spiders.</p>

		<p>Now you may be wondering: Zoe... what the <b>HECK</b> do spiders have anything to do with software?</p>

		<p>My response: nothing... Well... maybe in severe <a href="https://www.atlasobscura.com/places/grace-hoppers-bug" target="_blank">edge cases</a>, they can be a cause for concern.</p>

		<p>Let me explain in 3 parts:<p>
		<p>- <b>Spinning the web:</b> Designing systems where every thread connects with purpose.</p>
		<p>- <b>Debugging:</b> Detecting subtle vibrations in the code and tracing them to their source.</p>
		<p>- <b>Expanding the web:</b> Carefully adding new threads — new features — without tangling the structure.</p>

		<p>Guess you can call me a <b>Web Developer</b>... 🥁 Bada tss! 🥁</p>

		<p>...</p>

		<p>... Alright... </p>

		<p>You caught me... </p>

		<p>This analogy was all an elaborate scheme for this one pun... But can you blame me?</p>

		<p>But in all seriousness, I think good development really is like a web — intentional, interconnected, and always evolving</p>
</div>

<style>
	.philosophy-section {
		min-height: 100%;
		background-image: url(../assets/images/backgrounds/spider.png);
		background-size: cover;
		width: 100%;
		background-attachment: fixed;
		align-content: center;
		text-shadow: 2px 2px 5px rgba(0,0,0,.5);
	}

	a {
		color: #89f9ff
	}
</style>