---
import SectionTitle from "../components/sections/SectionTitle.astro";
---

<div id="process" class="main-inner-content">
	<SectionTitle title="Process"></SectionTitle>
	<h1>
		<i>How the Magic Happens~~</i>
	</h1>
	<p>
		So you wanna peek behind the curtain, huh?
	</p>
	<p>
		You want the <b>recipe</b>, the <i>secret sauce</i>, the magic✨✨...
	</p>
	<p>
		Here's <b>Zoe's Simple 4-step Plan</b> to guaranteed success, or your money back! <i>(Terms and conditions apply)</i>
	</p>
	<div>
		<div class="overlap-container">
			<img src="/public/main-content-images/ProcessDiagram.png" class="diagram">
			<div class="cards">
				<div class="card" style="border-radius: 10px 0 0 0;">
					<p class="section-title" style="color: #3BD1FF">
						💭 Understand
					</p>
					<div class="card-body">
						<p>
							Set your direction.
						</p>
						<ul>
							<li>
								Who is the user?
							</li>
							<li>
								What problem does this solve?
							</li>
							<li>
								What should the result look like?
							</li>
						</ul>
					</div>
					
				</div>
				<div class="card" style="border-radius: 0 10px 0 0;">
					<p class="section-title" style="color: #3bff9a">
						🔍 Investigate
					</p>
					<div class="card-body">
						<p>
							Understand your position.
						</p>
						<ul>
							<li>
								Determine what we already have.
							</li>
							<li>
								Become familiar with the structure.
							</li>
							<li>
								Figure out where the new additions will fit best.
							</li>
						</ul>
					</div>
				</div>
				<div class="card" style="border-radius: 0 0 0 10px;">
					<p class="section-title" style="color: #ff51f6">
						📋 Plan
					</p>
					<div class="card-body">
						<p>
							Determine your solution.
						</p>
						<ul>
							<li>
								What are my options?
							</li>
							<li>
								What are the advantages and disadvantages of each approach?
							</li>
							<li>
								Given the system, which solution is most appropriate?
							</li>
						</ul>
					</div>
				</div>
				<div class="card" style="border-radius: 0 0 10px 0;">
					<p class="section-title" style="color: #ffe23b">
						🛠️ Implement
					</p>
					<div class="card-body">
						<p>
							Execute your plan.
						</p>
						<p>
							No bulleted list. This is actually the easiest part of the entire process. Once you know the solution, it's just a matter of translating it to code!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.section-title {
		font-size: 2rem;
		text-transform: uppercase;
		margin-bottom: 1rem;
		margin-left: 1.5rem;
		font-weight: bold;
	}

	.card {
		width: 50%;
		height: 50%;
		background-color: rgba(140, 128, 173, .95);
		border: 1px white solid;
		box-sizing: border-box;
		opacity: 0;
		text-shadow: 2px 2px 5px rgba(0,0,0, .5);
	}

	.card:hover {
		opacity: 1;
	}

	.card-body {
		margin-left: 3rem;
		margin-right: 1rem;
	}

	.diagram {
		width: 100%;
		z-index: 1;
		display: block;
	}
	.overlap-container {
		width: 100%;
		position: relative;
		margin: 1rem;
		margin-bottom: 2rem;
	}
	.cards {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		display: flex;
		flex-wrap: wrap;
	}
</style>