<div class="file-path-container">
	<p class="file-path" id="file-path">
		Zoes-Playground > README.md
	</p>
</div>

<style>
	.file-path {
		color: #BCBCBC;
		font-size: 12px;
		margin: .5rem;
	}

	.file-path-container {
		height: 1.5rem;
	}
</style>