<div class="file-path-container">
	<p class="file-path" id="file-path">
		Zoes-Playground > README.md
	</p>
</div>

<style>
	.file-path {
		color: #BCBCBC;
		font-size: 0.75vw;
		margin: .5vw;
		user-select: none;
	}

	.file-path-container {
		height: 1.5vw;
	}
</style>