---
import '../../assets/css/styles.css';
import '../../assets/css/rainbowEffect.css'
---

<div class="tool-bar row">
	<div class="window-options">
		<button 
			id="exit-option"
			class="exit window-option clickable"
			title="Exit"
		> x </button>
		<button 
			id="hide-option"
			class="hide window-option clickable"
			title="DO NOT press this button"
		> _ </button>
		<button 
			id="minimize-option"
			class="minimize window-option clickable"
			title="Huh... wonder what this does?"
		> ^ </button>
	</div>

	<div class="page-title">
		<p class="rainbow">
			
			<span>
				Welcome to Zoe's Playground!
			</span>
		</p>
	</div>

	<div class="theme-options">
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
		</div>
	</div>
</div>

<style>
	@keyframes bounce {
	0%, 100% {
		transform: translateY(0px);
	}
	20% {
		transform: translateY(-10px);
	}
	40% {
		transform: translateY(0px);
	}
	}
	.rainbow:hover {
		animation: bounce 1.5s ease-in-out;
	}
	
	.page-title {
		margin:auto; 
		color: white;
	}
	.tool-bar {
		background-color: var(--quarternary-bg-color);
		height: 3rem;
		width: 100%;
	}

	.window-options {
		padding: .75rem;
	}

	.theme-options {
		padding: .75rem;
		margin-right: 0rem;
	}

	.window-option {
		border-radius: 5rem;
		height: 1.5rem;
		width: 1.5rem;
		border: 0px;
	}

	.window-option:hover {
		opacity: .5;
	}

	#exit-option {
		background-color: #FE5F57;
		color: #8c0700;
	}

	#hide-option {
		background-color: #FEBC2E;
		color: #ac7500;
	}

	#minimize-option {
		background-color: #28C840;
		color:#007712
	}
</style>