---
import '../assets/css/styles.css'
---

<!-- The IDE has two rows: the top-bar and the content -->
<div class="parent">
	<div class="column">
		<!-- The content has two columns: the window options, and theme toggle. -->
		<slot name="top-bar"/>

		<!-- The content is composed of three columns: the extensions, file-explorer, and code-section -->
		<div class="row full-width">
			<slot 
				name="extensions" 
				class="flex-child"
			/>
			<slot 
				name="file-explorer"
				class="flex-child"
			/>

			<!-- The code section is composed of 3 rows: the tab-section, file-path-section, and main-content -->
			<div>
				<slot name="tab-section"/>
				<slot name="file-path"/>
				<slot name="main-content"/>
			</div>
		</div>
</div>
</div>


<style>
	.parent {
		display: flex;
		height: 100vh;
	}
</style>