---
import '../assets/css/styles.css'
---

<!-- The IDE has two rows: the top-bar and the content -->
<div class="parent" draggable="false">
	<!-- Mobile Layout -->
	<div class="column full-width">
		<!-- The content has two columns: the window options, and theme toggle. -->
		<slot name="top-bar"/>
		
		<slot name="main-content"/>
		<slot name="tab-section"></slot>
		<div class="row full-width bottom">
			<slot name="file-explorer"></slot>
			<slot name="extensions"/></slot>
		</div>
		
		
	</div>
</div>


<style>
	.parent {
		display: flex;
		height: 100vh;
		overflow: hidden;
	}

	.code-section {
		background-color: var(--primary-bg-color);
		color: white;
		flex: 1 1 auto;
	}

	.bottom {
		height: 60vh;
	}
</style>