---
import '../assets/css/styles.css'
---

<!-- The IDE has two rows: the top-bar and the content -->
<div class="parent">
	<div class="column full-width">
		<!-- The content has two columns: the window options, and theme toggle. -->
		<slot name="top-bar"/>

		<!-- The content is composed of three columns: the extensions, file-explorer, and code-section -->
		<div class="row full-width full-relative-height">
			<slot 
				name="extensions" 
			/>
			<slot 
				name="file-explorer"
				class="flex-child"
			/>

			<!-- The code section is composed of 3 rows: the tab-section, file-path-section, and main-content -->
			<div class="code-section">
				<slot name="tab-section"/>
				<slot name="file-path"/>
				<slot name="main-content"/>
			</div>
		</div>
</div>
</div>


<style>
	.parent {
		display: flex;
		height: 100vh;
		overflow: hidden;
	}

	.code-section {
		background-color: var(--primary-bg-color);
		color: white;
		flex: 1 1 auto;
	}
</style>