---
---

<div class="desktop">
	<div class="menu-bar">

	</div>
	<div class="main-content">

	</div>
	<div class="tool-bar">
		
	</div>
</div>

<style>
	.desktop {
		background-color: aqua;
		min-width: 100vw;
		min-height: 100vh;
	}
</style>