---
import ApplicationContainer from "../components/ApplicationContainer/applicationContainer.astro";
import Toolbar from "../components/ToolBar/toolbar.astro";
import AboutMe from "../contentSections/aboutMe.astro";
import Projects from "../contentSections/projects.astro";
import WorkExperience from "../contentSections/workExperience.astro";
import ContactMe from "../contentSections/contactMe.astro";
import TrashGame from "../contentSections/trashGame.astro";
import type { IToolBarOption } from "../components/ToolBar/ToolBarOption/IToolBarOption";

interface IContentSection {
	/** Used to reference the related components (ex: id-application-container and id-menu-option) */
	id: string,

	/** The title to be displayed on the icon hover and the Application Container interface */
	title: string,

	/** If the content section should be included in the tool bar at the bottom the screen, include the icon image url */
	icon?: string,

	/** A reference to another Astro component to be rendered in the application container interface */
	innerContent: (_props: Record<string, any>) => any;

	/** Determines whether or not the application should be "open" by default. */
	initialDisplay?: boolean
}

const sections: IContentSection[] = [
	{
		id: 'projects',
		title: 'Projects',
		icon: '/icons/terminal-icon.png',
		innerContent: Projects,
		initialDisplay: true
	},
	{
		id: 'work-experience',
		title: 'Work Experience',
		icon: '/icons/calendar-icon.png',
		innerContent: WorkExperience,
		// initialDisplay: true
	},
	{
		id: 'about-me',
		title: 'About Me',
		icon: '/icons/books-icon.png',
		innerContent: AboutMe,
		// initialDisplay: true
	},
	{
		id: 'contact-me',
		title: 'Contact Me',
		icon: '/icons/contact-book-icon.png',
		innerContent: ContactMe,
		// initialDisplay: true
	}
]

const noIcon = '/icons/contact-book-icon.png';

---

<div class="desktop">
	<div class="menu-bar">

	</div>
	<div class="main-content">

		{
			sections.map(section => {
				const InnerContent = section.innerContent;

				return <ApplicationContainer id={section.id + '-application-container'} open={section.initialDisplay}>
					<div slot="content" class="full-height full-width">
						<InnerContent id={section.id + '-content'} title={section.title}></InnerContent>
					</div>
				</ApplicationContainer>
			})
		}

		<ApplicationContainer id="trash-game-application-container">
			<div slot="content" class="full-height full-width">
				<TrashGame></TrashGame>
			</div>
		</ApplicationContainer>

		<div class="mobile-update">
			<ApplicationContainer id="message-notice" open="true">
				<div class="text content" slot="content">
					<h1>
						UPDATE:
					</h1>
					<p>
						This page is not yet set up properly for mobile experience.
					</p>

					<p>
						Updates will continue gradually over the next couple of weeks. 
					</p>

					<p>
						Please check back soon!
					</p>
				</div>
			</ApplicationContainer>
		</div>
		
	</div>
	<div class="tool-bar">
		{
			() => {
				const toolBarOptions: IToolBarOption[] = [];

				sections.map(section => {
					toolBarOptions.push({
						id: section.id + '-menu-option',
						title: section.title,
						url: section.icon ? section.icon : noIcon,
						applicationId: section.id + '-application-container',
					});				
				})

				return <Toolbar menuOptions={toolBarOptions}/>
			}
		}
	</div>
</div>

<style>
	.desktop {
		background-color: rgb(0, 0, 0);
		background-image: url(/public/background/cat-background.webp);
		background-repeat: no-repeat;
		background-size: cover;
		min-width: 100vw;
		min-height: 100vh;
	}

	.menu-bar {
		background-color: black;
		min-width: 100vw;
		min-height: 3vh;
	}

	.main-content {
		height: 97vh;
	}

	h1 {
		font-size: 3vh;
	}

	p {
		font-size: 2vh;
	}

	.content {
		background-color: rgba(0, 0, 0, .9);
		opacity: 1;
		flex: 1;
		overflow-y: scroll;
	}

	.text {
		color: white;
		padding: 1vw;
	}

	@media (min-width: 585px) {
		.tool-bar {
			position: absolute;
			width: 60vw;
			height: 11vh;
			border-radius: 1vw;
			background-color: var(--dark-bg);
			opacity: 80%;
			bottom: 0;
			margin: 1vh 20vw;
			border: solid .1vw var(--dark-stroke);
			box-shadow: var(--box-shadow);
			min-width: 60vh;
		}
		.mobile-update {
			display: none;
		}
	}

	@media (max-width: 584px) {
		.tool-bar {
			position: absolute;
			width: 70vw;
			height: 6vh;
			border-radius: 1vw;
			background-color: var(--dark-bg);
			opacity: 80%;
			bottom: 0;
			margin: 4vh 15vw;
			border: solid .1vw var(--dark-stroke);
			box-shadow: var(--box-shadow);
			min-width: 30vh;
		}
	}

	.full-height {
		height: 100%;
	}

	.full-width {
		width: 100%;
	}

</style>