---
import Toolbar from "../components/ToolBar/toolbar.astro";
---

<div class="desktop">
	<div class="menu-bar">

	</div>
	<div class="main-content">

	</div>
	<div class="tool-bar">
		<Toolbar></Toolbar>
	</div>
</div>

<style>
	.desktop {
		background-color: rgb(0, 0, 0);
		background-image: url(/public/background/cat-background.png);
		background-repeat: no-repeat;
		background-size: cover;
		min-width: 100vw;
		min-height: 100vh;
	}

	.menu-bar {
		background-color: black;
		min-width: 100vw;
		min-height: 3vh;
	}

	.main-content {
		height: 97vh;
	}

	.tool-bar {
		position: absolute;
		width: 60vw;
		height: 11vh;
		border-radius: 1vw;
		background-color: var(--dark-bg);
		opacity: 80%;
		bottom: 0;
		margin: 0 20vw;
		border: solid .1vw var(--dark-stroke);
		box-shadow: 4px 4px 5px rgba(0,0,0, .25);
	}
</style>