---
import '/public/assets/styles/styles.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preload" as="image" href="/assets/images/backgrounds/WebGradient.webp">
		<title>Developer Space: Zoe's Playground</title>
		<meta 
			name="description"
			content="Zoe's custom-built, IDE-themed, programming portfolio. This portfolio includes projects ranging from web and mobile applications, to interactive games, and even web ui component libraries. Zoe is a full-stack developer who specializes in frontend frameworks like Vue, React, and Angular to craft delightful experiences. She also is proficient in backend development, with experience creating and hosting web servers and apis using NodeJS, Springboot, and Flask. Technologies: Java, Python, Javascript, Typescript, MongoDB, DynamoDB, SQL, Documentation, Three.js, S3Buckets, AWS, EC2. Roles: Frontend Developer, Fullstack Developer, UI/UX Designer, Product Manager, Software Engineer, Web Engineer, Mentor. Descriptors: Craftsmanship. Artisan, Innovator, Producer, Leader"
		>
	</head>
	<body id="base" class="right-side-up">
		<img id="harris" src="/assets/images/harris/seasonal/winter/winter-harris.gif" class="spider clickable" alt="harris" title="Harris">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--primary-bg-color);
	}
	.spider {
		top: 0;
		right: 0;
		position: absolute;
		z-index: 100;
		cursor: pointer;
		width: 12vh;
	}
	.upside-down {
		transform: rotate(900deg);
		transition: transform 1.5s ease-in-out;
	}
	.right-side-up {
		transform: rotate(0deg);
		transition: transform 1.5s ease-in-out;
	}
</style>
