---
export type Tab = {
	name: string;
	id: string;
}

const props = Astro.props as Tab
---
<div class="tab" id={`${props.id}-tab`}>
	{props.name}
</div>

<style>
	.tab {
		width: fit-content;
		padding: 1rem;
		border-right: 1px #252526 solid;
		background-color: var(--secondary-bg-color);
	}

	.tab:hover {
		color:#feffa7;
		cursor: pointer;
		border-right: 1px #feffa7 solid;
		border-left: 1px #feffa7 solid;
		border-top: 1px #feffa7 solid;
	}

	.selected-tab {
		background-color: var(--primary-bg-color);
		border-right: 1px #ffffff solid;
		border-left: 1px #ffffff solid;
		border-top: 1px #ffffff solid;
	}

</style>