---
import CodeEditor from '../layouts/CodeEditor.astro';
import MainContent from '../layouts/MainContent.astro';
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/top-bar/TopBar.astro';
import Extensions from '../components/extensions/Extensions.astro';
import Explorer from '../components/explorer/Explorer.astro';
import FileTabs from '../components/file-tabs/FileTabs.astro';
import FilePath from '../components/file-path/FilePath.astro';

// import 'bootstrap/dist/js/bootstrap.bundle.min.js'
---

<Layout>
	<CodeEditor>
		<div slot="top-bar">
			<TopBar/>
		</div>

		<div slot="extensions">
			<Extensions/>
		</div>

		<div slot="file-explorer">
			<Explorer/>
		</div>

		<div slot="tab-section">
			<FileTabs/>
		</div>

		<div slot="file-path">
			<FilePath/>
		</div>

		<div slot="main-content">
			<MainContent></MainContent>
		</div>

	</CodeEditor>
</Layout>
