---
import CodeEditor from '../layouts/CodeEditor.astro';
import MainContent from '../layouts/MainContent.astro';
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/top-bar/TopBar.astro';
import Extensions from '../components/extensions/Extensions.astro';
import Explorer from '../components/explorer/Explorer.astro';
import FileTabs from '../components/file-tabs/FileTabs.astro';
import FilePath from '../components/file-path/FilePath.astro';
import type { Tab } from '../components/file-tabs/FileTab.astro';
import type { TreeNodeType } from '../components/explorer/TreeNode.astro';

// import 'bootstrap/dist/js/bootstrap.bundle.min.js'
type Section = {
	id: string; // used to access the section, tab, and node: id-section; id-tab; id-node,
	name: string; // display name,
	subsections?: Section[]; // subsections under this section
}

const sections: Section[] = [
	{
		id: 'landing',
		name: 'Zoes-Playground',
		subsections: [
			{
				id: 'landing',
				name: 'README.md'
			},
			{
				id: 'projects',
				name: 'Projects',
				subsections: [
					{
						id: 'web-projects',
						name: 'Web'
					},
					{
						id: 'game-projects',
						name: 'Games'
					},
					{
						id: 'library-projects',
						name: 'Libraries'
					}
				]
			},
			{
				id: 'process',
				name: 'Process'
			},
			{
				id: 'philosophy',
				name: 'Philosophy'
			},
			{
				id: 'contact',
				name: 'Contact'
			}
		]
	}
]

const tabs: Tab[] = sections[0].subsections!.map( (section) => {
	return {
		name: section.name,
		id: section.id
	}
});

const sectionToExplorer = (section: Section): TreeNodeType => {
	return {
		name: section.name,
		id: section.id,
		children: section.subsections ? section.subsections.map( (subsection) => sectionToExplorer(subsection) ) : undefined
	}
};

const explorer = sectionToExplorer(sections[0])

---

<Layout>
	<CodeEditor>
		<div slot="top-bar">
			<TopBar/>
		</div>

		<div slot="extensions">
			<Extensions/>
		</div>

		<div slot="file-explorer">
			<Explorer rootNode={explorer}/>
		</div>

		<div slot="tab-section">
			<FileTabs tabs={tabs}/>
		</div>

		<div slot="file-path">
			<FilePath/>
		</div>

		<div class="full-relative-height" slot="main-content">
			<MainContent></MainContent>
		</div>

	</CodeEditor>
</Layout>

<script src="../scripts/locationObserver.ts"></script>