---

interface ISection {
	title: string;
	description: string
}

interface TwoFoldProps {
	left: ISection;
	right: ISection;
}

const props = Astro.props as TwoFoldProps;

---
<div class="fold-container">
	<div class="fold">
		<h2>
			{props.left.title}
		</h2>
		<p>
			{props.left.description}
		</p>
	</div>
	
	<div class="right fold">
		<h2>
			{props.right.title}
		</h2>
		<p>
			{props.right.description}
		</p>
	</div>
</div>

<style>
	.fold {
		flex: 1;
		padding: .1vh .5vw;
	}

	.fold-container {
		display: flex;
		flex-direction: row;
		background-color: rgba(100,100,100,.3);
		padding: 1vh;
		border-radius: 1vh;
		border: solid rgb(255, 255, 255) .1vh;
	}

	h2 {
		color: #ffbf00;
		margin-top: .5vh;
		margin-bottom: .5vh;
		font-weight: bold;
	}

	p {
		color: white;
		margin-top: .5vh;
		margin-bottom: .5vh;
	}

	@media (min-width: 1001px) {
		.right {
			border-left: dashed white .1vh;
		}

		h2 {
			font-size: 2.5vh;
			font-weight: 500;
		}
		
		p {
			font-size: 1.25vh;
			font-weight: 100;
		}
	}

	@media (max-width: 1000px) {
		.right {
			border-left: dashed white 1px;
			padding-left: 2vw;
		}

		h2 {
			font-size: 2vh;
			font-weight: 100;
		}
		
		p {
			font-size: 1.5vh;
			font-weight: 100;
		}
	}
</style>
