---
interface IApplicationProps {
	id: string;
	open?: boolean;
}

const props = Astro.props as IApplicationProps;
---
<script is:inline>
	let topZ = 0;

	let dragging = false;
	let startX = 0;
	let startY = 0;
	let activeEl = null;

	function down(e) {
		activeEl = e.currentTarget.closest('.application-container');
		dragging = true;

		startX = e.clientX;
		startY = e.clientY;

		// initialize per-element state if missing
		if (!activeEl.dataset.x) {
			activeEl.dataset.x = "0";
			activeEl.dataset.y = "0";
		}

		// Bring the application to the front
		topZ += 1;
		activeEl.style.zIndex = topZ;
	}

	function move(e) {
		if (!dragging || !activeEl) return;

		const baseX = parseFloat(activeEl.dataset.x);
		const baseY = parseFloat(activeEl.dataset.y);

		const dx = e.clientX - startX;
		const dy = e.clientY - startY;

		activeEl.style.transform = `translate(${baseX + dx}px, ${baseY + dy}px)`;
	}

	function up(e) {
		if (!dragging || !activeEl) return;

		const baseX = parseFloat(activeEl.dataset.x);
		const baseY = parseFloat(activeEl.dataset.y);

		const dx = e.clientX - startX;
		const dy = e.clientY - startY;

		activeEl.dataset.x = baseX + dx;
		activeEl.dataset.y = baseY + dy;

		dragging = false;
		activeEl = null;
	}

	function hide(e) {
		console.log('hide')
		e.currentTarget.closest('.application-container').style.display = 'none';
	}

	function expand(e) {
		const el = e.currentTarget.closest('.application-container')
		el.classList.toggle('expanded')
	}
</script>

<div id={props.id} class={`application-container ${props.open ? ' visible' : ' hidden'}`}>
	<div class="top-bar" onpointerdown="down(event)">
		<div class="option-container">
			<div class="red circle" onclick=""/>
			<div class="yellow circle"/>
			<div class="green circle"/>
		</div>
	</div>
	<slot name="content"/>
</div>

<style>
	@media (min-width: 585px) {
		.application-container {
			height: 42vh;
			width: 40vw;
			top: 25vh;
			left: 30vw;
		}

	}
	@media (max-width: 584px) {
		.application-container {
			height: 60vh;
			width: 75vw;
			top: 10vh;
			left: 15vw;
		}
		h1 {
			font-size: 5vh;
		}
		p {
			font-size: 2.5vh;
		}
	}

	.hidden {
		display: none !important;
	}

	.visible {
		display: inherit;
	}

	.expanded {
		height: calc(100% - 3vh);
		width: 100%;
		top: 3vh;
		left: 0;
	}

	.application-container {
		border: .1vh solid var(--dark-stroke);
		box-shadow: var(--box-shadow);
		position: absolute;
		border-radius: 1vh;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}

	.top-bar {
		background-color: var(--dark-bg);
		display: flex;
		height: 3vh;
	}

	.option-container {
		margin-top: .75vh;
		margin-left: 1vw;
		display: flex;
		min-width: 5vw;
		justify-content: space-around;
	}

	.circle {
		width: 1.5vh;
		height: 1.5vh;
		border-radius: 100px;
	}

	.circle:hover {
		opacity: .8;
	}

	.red {
		background-color: #FF5656;
	}

	.green {
		background-color: #44d07c;
	}

	.yellow {
		background-color: #f3f04a;
	}

	
</style>

<script is:inline>
	// Drag event listens mapped to translation methods
	document.addEventListener("pointermove", move);
	document.addEventListener("pointerup", up);

	// Top bar event listeners to altering methods
	Array.from(document.getElementsByClassName('red')).forEach(redButton => {
		console.log("Adding A listener")
		redButton.addEventListener("click", hide);
	})
	Array.from(document.getElementsByClassName('yellow')).forEach(yellowButton => {
		yellowButton.addEventListener("click", hide);
	})
	Array.from(document.getElementsByClassName('green')).forEach(greenButton => {
		greenButton.addEventListener("click", expand);
	})
</script>