---
---
<script is:inline>
	let dragging = false;
	let startX = 0;
	let startY = 0;
	let baseX = 0;
	let baseY = 0;

	const el = () => document.getElementById("application-container");

	function down(e) {
		dragging = true;
		startX = e.clientX;
		startY = e.clientY;
	}

	function move(e) {
		if(!dragging) { return }
		const dx = e.clientX - startX;
		const dy = e.clientY - startY;

		el().style.transform = `translate(${baseX + dx}px, ${baseY + dy}px)`;
	}

	function up(e) {
		if(!dragging) { return }
		
		const dx = e.clientX - startX;
		const dy = e.clientY - startY;

		baseX += dx;
		baseY += dy;
		dragging = false;
	}
</script>

<div id="application-container" onpointerdown="down(event)">
	<div class="top-bar">
		<div class="option-container">
			<div class="red circle"/>
			<div class="yellow circle"/>
			<div class="green circle"/>
		</div>
	</div>
	<div class="content">
		<div class="text">
			<h1>
				UPDATE:
			</h1>
			<p>
				Thanks for stopping by! My portfolio is currently under reconstruction.
			</p>

			<p>
				Updates will continue gradually over the next couple of weeks. 
			</p>

			<p>
				Hope to see you again soon!
			</p>
		</div>
		
	</div>
</div>

<style>
	#application-container {
		border: .1vh solid var(--dark-stroke);
		box-shadow: var(--box-shadow);
		position: absolute;
		height: 42vh;
		width: 40vw;
		top: 25vh;
		left: 30vw;
		border-radius: 1vh;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}
	.top-bar {
		background-color: var(--dark-bg);
		display: flex;
		height: 3vh;
	}

	.option-container {
		margin-top: .75vh;
		margin-left: 1vw;
		display: flex;
		min-width: 5vw;
		justify-content: space-around;
	}

	.circle {
		width: 1.5vh;
		height: 1.5vh;
		border-radius: 100px;
	}

	.circle:hover {
		opacity: .8;
	}

	.red {
		background-color: #FF5656;
	}

	.green {
		background-color: #44d07c;
	}

	.yellow {
		background-color: #f3f04a;
	}

	.content {
		background-color: var(--dark-bg);
		opacity: .8;
		flex: 1;
		overflow-y: scroll;
	}

	.text {
		color: white;
		padding: 1vw;
	}
</style>

<script is:inline>
	document.addEventListener("pointermove", move);
	document.addEventListener("pointerup", up);
</script>