---
import type { IHoverLabel } from "./IHoverLabel";

const props = Astro.props as IHoverLabel;
---

<div class="hover-label" id={props.label}>
	<p class="hover-text">{props.label}</p>
</div>

<style>
	.hover-label {
		height: 15vh;
		position: absolute;
		top: -7vh;
		pointer-events: none;
	}

	.hover-text {
		width: fit-content;
		background-color: var(--dark-bg);
		padding: .5vh 2vw;
		color: white;
		border: .1vw solid var(--dark-stroke);
		border-radius: .2vw;
		box-shadow: var(--box-shadow);
		text-align: center;
		font-size: 2vh;
		user-select: none;
	}
</style>