---
import type { IToolBarOption } from "./ToolBarOption/IToolBarOption";
import ToolBarOption from "./ToolBarOption/toolBarOption.astro";

interface IToolBarProps {
	menuOptions: IToolBarOption[]
}

const props = Astro.props as IToolBarProps;
---

<script is:inline>
	function toggleApplicationView (e) {
		if (!e.target.dataset.applicationid) { return }

		const applicationElement = document.getElementById(e.target.dataset.applicationid);

		// Toggle the focus
		Array.from(document.getElementsByClassName('focused')).forEach(e => e.classList.remove('focused'))
		applicationElement.classList.toggle('focused')

		// If it's already open, just bring it to the front without toggling
		if (applicationElement.classList.contains('visible')) {
			if (applicationElement.style.zIndex == topZ) {
				topZ -= 1;
				// Flip the visibility
				applicationElement.classList.toggle('visible')
				applicationElement.classList.toggle('hidden')
			} else {
				// Set the element to the top index
				topZ += 1;
				applicationElement.style.zIndex = topZ;
			}
		} else {
			// Flip the visibility
			applicationElement.classList.toggle('visible')
			applicationElement.classList.toggle('hidden')

			// Set the element to the top index
			topZ += 1;
			applicationElement.style.zIndex = topZ;
		}
			
	}
</script>

<div class="tool-bar" id="tool-bar">
	{
		props.menuOptions.map(o => {
			if (o.leftOption) {
				return <span class="vertical-bar">|</span><ToolBarOption {...o}/>			
			}
			return <ToolBarOption {...o}/>
		})
	}

	
</div>

<style>
.tool-bar {
	display: flex;
	justify-content: space-around;
}

.vertical-bar {
	width: .1vh;
	height: auto;
	margin: 10px 0;
	background-color: rgb(172, 172, 172);
}

</style>

<script is:inline>
	// Add all the click event listeners for the ToolBar
	const toolBarOptionElements = document.getElementsByClassName("tool-bar-option");
	Array.from(toolBarOptionElements).forEach(option => {
		console.log("Adding event listener")
		option.addEventListener("click", toggleApplicationView)
	})
</script>