---
import type { IconType } from '../icons/_iconType';

export interface ExtensionProps {
	component: (_props: IconType) => any,
	id: string
}

const props = Astro.props as ExtensionProps;

const DEFAULT_STYLE = {
	size: "3vw",
	color: "#607694"
}

---
<div class="extension clickable" id={props.id}>
	{
		<props.component size={DEFAULT_STYLE.size} color={DEFAULT_STYLE.color}></props.component>
	}
</div>


<style>
	.extension {
		margin-left: auto;
		margin-right: auto;
		height: 3vw;
		width: 3vw;
		padding-top: 1.5vw;
	}
</style>