---
import type { IconType } from '../icons/_iconType';

export interface ExtensionProps {
	component: (_props: IconType) => any,
	id: string
}

const props = Astro.props as ExtensionProps;

const DEFAULT_STYLE = {
	size: "3rem",
	color: "#607694"
}

---
<div class="extension clickable" id={props.id}>
	{
		<props.component size={DEFAULT_STYLE.size} color={DEFAULT_STYLE.color}></props.component>
	}
</div>


<style>
	.extension {
		margin-left: auto;
		margin-right: auto;
		height: 3rem;
		width: 3rem;
		padding-top: 1.5rem;
	}
</style>

<script>
	const openLink = (url: string) => {
		if (confirm(`You are being redirected to ${url}. Would you like to proceed?`)) {
			const link = document.createElement('a');
			link.href = url;
			link.target = "_blank"
			link.click();
			document.removeChild(link);
		}
	}

	const actionMap: Record<string, CallableFunction> = {
		'explorerClickable': () => {
			// TODO: Expand/Minimize the Explorer side-bar.
			console.log("Not yet implemented...");
		},
		'searchClickable': () => {
			// TODO: Open up the Search function.
			console.log("Not yet implemented...");
		},
		'devpostClickable': () => {
			openLink('https://devpost.com/zmb6893')
		},
		'githubClickable': () => {
			openLink('https://github.com/AdventureSlugg')
		},
		'linkedinClickable': () => {
			openLink('https://www.linkedin.com/in/zoe-bingham/')
		}

	}

	const clickables = document.querySelectorAll('div.clickable');

	clickables.forEach(clickable => {
		clickable.addEventListener('click', () => {
			// TODO: Highlight the clickable option and remove highlight from all other clickables
			actionMap[clickable.id]();
		})
	})
	
</script>