/* Color Scheme */
:root {
	--primary-bg-color: #002451;
	--secondary-bg-color: #001C40;
	--tertiary-bg-color: #001733;
	--quarternary-bg-color: #001125;
}

/* Imported fonts */
@font-face {
	font-family: SourceCodePro;
	src: url(../fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf);
}

body {
	font-family: SourceCodePro;
}


.full-width {
	width: 100vw;
}

.full-relative-height {
	height: 100%;
}

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}