/* Color Scheme */
:root {
	--primary-bg-color: #002451;
	--secondary-bg-color: #001C40;
	--tertiary-bg-color: #001733;
	--quarternary-bg-color: #001125;
}


.full-width {
	width: 100vw;
}

.full-relative-height {
	height: 100%;
}

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}