---
import HoverLabel from "../../HoverLabel/hoverLabel.astro";
import type { IToolBarOption } from "./IToolBarOption";

const props = Astro.props as IToolBarOption;
---
<div class="icon-wrapper" id={props.id}>
	<span class="hover-label">
		<HoverLabel label={props.title}/>
	</span>
	<img
		class="tool-bar-option" 
		src={props.url}
		onclick="toggleApplicationView"
		data-applicationID={props.applicationId}
	/>
</div>

<style>
	@media (min-width: 585px) {
		.tool-bar-option {
			height: 10vh;
			width: 10vh;
			padding: .5vh;
		}

		.tool-bar-option:hover {
			height: 11vh;
			width: 11vh;
		}

		.hover-label {
			opacity: 0;
		}

		.icon-wrapper:hover .hover-label {
			opacity: 1;
		}
	}

	@media (max-width: 584px) {
		.tool-bar-option {
			height: 5vh;
			width: 5vh;
			padding: .25vh;
		}

		.tool-bar-option:hover {
			height: 11vh;
			width: 11vh;
		}

		.hover-label {
			opacity: 0;
		}

		.icon-wrapper:hover .hover-label {
			opacity: 1;
		}
	}
	
</style>