<div class="contact-section">
	<div class="left-section">
		<h1>
			Let's Talk!
		</h1>
		<p>
			Have a role you need to fill? Want to hear some of my crazy stories? Just want to chat?
		</p>

		<p> Feel free to shoot me a quick message and we can chat more! </p>

		<div class="socials">
			<a href="mailto:zoe@zoeb.dev"><img src="/icons/contact/email.png" class="icon" alt="email icon"></a>
			<a href="https://linkedin.com/in/zoe-bingham/" target="_blank"><img src="/icons/contact/linkedin.png" class="icon" alt="linkedin icon"></a>
		</div>
	</div>
	

	<form 
		id="email-form" 
		class="email-form"
	>
		<h1 class="form-title">Message Me</h1>
		<div class="sender-info">
			<div class="field">
				<p>Name * </p>
				<input 
					id="sender"
					name="sender"
					placeholder="Your name..."
					required
				>
			</div>

			<div class="field" style="margin-left: 1vw">
				<p>Email * </p>
				<input 
					id="replyTo"
					name="replyTo"
					type="email"
					placeholder="your@email.com"
					required
				>
			</div>
			
		</div>

		<div class="field">
			<p> Subject * </p>
			<input 
				id="subject"
				name="subject"
				placeholder="Subject"
				class="full-width"
				required
			>
		</div>
		
		<div class="field message-section">
			<p> Message * </p>
			<textarea 
				id="message"
				name="message"
				placeholder="Write me a message..."
				class="full-width message-content"
				required
			/>
		</div>
		
		<button 
			type="submit"
			class="button"
		> Send </button>

		<div id="email-status-banner" class="invisible"></div>
	</form>
</div>

<style>
	@media (min-width: 1001px) {
		.contact-section {
			height: calc(100% - 2vh);
		}
		.left-section {
			width: 40%;
			padding: 1vh 1.5vw;
		}
		.email-form {
			width: 60%;
			height: calc(100% - 4vh);
		}
		.full-width {
			width: 100%;
		}
		.message-content {
			height: 50%
		}
		#email-status-banner {
			bottom: 2vh;
		}
		.button {
			height: 8vh;
		}
	}

	@media (max-width: 1000px) {
		.contact-section {
			flex-direction: column;
			height: auto;
		}

		.left-section {
			padding: 5vh 12vw;
		}

		.email-form {
			margin: 0 12vw;
			margin-bottom: 20vh;
		}

		input {
			height: 4vh;
			border-radius: .5vh;
			padding: 0 2vw;
		}

		textarea {
			border-radius: .5vh;
			margin-bottom: 3vh;
			padding: 1vh 2vw;
		}

		.form-title {
			font-size: 3vh;
			padding: 1vh 3vw;
		}

		.field {
			padding: 0 3vw;
		}

		.button {
			margin: 0 3vw;
			height: 4vh;
		}

		.message-section {
			height: -webkit-fill-available;
		}

		.message-content {
			/* height: -webkit-fill-available; */
  			margin-bottom: 1vh;
		}

		.socials {
			padding-top: 3vh;
			margin: auto;
			width: fit-content;
		}

		.icon {
			padding: 0 2vw;
		}

		#email-status-banner {
			top: 8vh;
			width: calc(100% - 24vw);
		}
	}

	h1 {
		font-size: 3vh;
	}

	p {
		font-size: 1.75vh;
		margin-bottom: .5vh;
	}

	input {
		font-size: 1.75vh;
		width: -webkit-fill-available;
	}

	textarea {
		font-size: 1.75vh;
		width: -webkit-fill-available;
	}

	.invisible {
		display: none;
	}

	#email-status-banner {
		height: fit-content;
		border-radius: .5vh;
		padding: 2vh 2vw;
		margin-right: 2vw;
		position: absolute;
		box-shadow: var(--box-shadow);
		color: white;
	}

	.success {
		background-color: rgb(21, 196, 53);
		border: .2vh solid rgb(36, 122, 31);
	}

	.failed {
		background-color: rgb(224, 24, 24);
		border: .2vh solid rgb(201, 0, 0);
	}

	.contact-section {
		background-color: var(--dark-bg);
		opacity: .90;
		padding: 1vh 1vw;
		color: white;
		overflow-y: scroll;
		background: linear-gradient(125deg,rgba(0, 162, 255) 0%, rgba(224, 83, 237, 1) 100%);
		display: flex;
	}

	.email-form {
		display: flex;
		flex-direction: column;
		background-color: rgba(255,255,255, .8);
		border-radius: 1vh;
		padding: 1vh 1vw;
		flex: 1;
	}

	.email-form p {
		color: rgb(55, 55, 55);
	}

	.email-form h1 {
		color: rgb(165, 0, 187);
	}

	h1 {
		margin: 0;
	}

	.button {
		background-color: rgb(165, 0, 187);
		color: white;
		font-size: 2vh;
		border-radius: 1vh;
		border: none;
	}

	.button:hover {
		opacity: .8;
	}

	.sender-info {
		display: flex;
		flex-direction: row;
		margin-right: 3vw;
	}

	#sender, #replyTo {
		width: 100%;
	}

	.icon {
		width: 5vh;
		height: 5vh;
		margin-right: 1vw;
	}
</style>

<script src="./sendEmail.js"/>