---
type TitleProps = {
	title: string
}

const props = Astro.props as TitleProps
---

<div>
	<p class="section-title">
		{props.title}
	</p>
</div>

<style>
	.section-title {
		font-size: 3vw;
		font-weight: 400;
		padding-bottom: 1vw;
		border-bottom: 1vw #F5FFDA solid;
		color: #F5FFDA;
		width: fit-content;
	}
</style>