---
import TreeNode, { type TreeNodeType } from "./TreeNode.astro";

export type ExplorerType = {
	rootNode: TreeNodeType
}

const props = Astro.props as ExplorerType;
---

<div class="explorer full-relative-height" id="explorer-section">
	<b>EXPLORER</b>
	<TreeNode name={props.rootNode.name} children={props.rootNode.children}></TreeNode>
</div>

<style>
	.explorer {
		background-color: var(--secondary-bg-color);
		color: white;
		min-width: 15rem;
		overflow-y: scroll;
		padding: 1rem;
	}
</style>